# User-specific files
*.suo
*.user
*.sln.docstates
*.feature.cs

/AutomationTask/packages/
/AutomationTask/.vs
/AutomationTask/AutomationTask/bin/Debug/
/AutomationTask/AutomationTask/obj/Debug/
/AutomationTask/AutomationTask/Report
